body {
  width: 18rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  font-size: 1.25rem;
  background-color: #f2f2ff;
  color: #382381;
  border: 2px #183578;
}
#title {
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.option-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 0.5rem;
}
.header-row {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  flex-direction: row;
  margin: 0rem;
}
#threshold-text {
  font-weight: bold;
}
.with-border{
  border: 0.1rem solid #c3c4c2;
  padding: 0.5rem;
  border-radius: 0.5rem; 
  margin-top: 0.3rem;
}
.with-border:hover {
  background-color: white;
}
#stats {
  margin-top: 0.5rem;
}
.stats-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 1rem;
}
#github {
  height: 1.25rem;
  vertical-align: middle;
}
.divider {
  margin: 0.7rem;
  color: #c3c4c2;
}
input[type='range'] {
  width: 8rem;
  padding: 0;
}
input[type='checkbox'] {
  transform: scale(1.5);
}
select {
  width: 65%;
  font-size: 1.25rem;
  text-align: center;
  background-color: #f2f2ff;
  border-radius: 0.4rem;
}
.hidden {
  display: none;
}
